---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family:   Helvetica, Arial, sans-serif;
$base-font-size:     16px;
$small-font-size:    $base-font-size * 0.875;
$base-line-height:   1.5;

$spacing-unit:       30px;

$text-color:         #111;
$background-color:   #fdfdfd;
$brand-color:        #2a7ae2;
$elem-background:    #f7f7f7;

$grey-color:         #828282;
$grey-color-light:   lighten($grey-color, 40%);
$grey-color-dark:    darken($grey-color, 25%);

$on-palm:            675px;
$title-on-palm:      1064px;
$on-laptop:          800px;

$header-borders:     6px;
$header-line-height: 56px;
$content-padding:    10px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

div.footer {
    width:100%;
    padding-top: 10px;
    min-height: 25px;
    margin-bottom: 8px;
}

div.footer > div {
    float: left;
    margin: 0;
    width: 33.3%;
    text-align: center;
    min-height: 5px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
th {
    text-align: center;
}
th, td {
    border: 1px solid #ddd;
    padding: 2px 8px;
}
