<table>
  <thead>
    <tr><th>Project</th><th colspan="2">Crate</th><th>Docs</th></tr>
  </thead>
  <tbody>
    <tr>
      <td class="section">
        <a href="/gtk-rs-core">Core</a>
      </td>
      <td>
        <a href="https://crates.io/crates/cairo-rs">
          cairo-rs
        </a>
      </td>
      <td>
        v0.9.0
      </td>
      <td class="docs">
        <a href="/gtk-rs-core/stable/latest/docs/cairo">🕮</a>
      </td>
    </tr>

    <tr>
      <td class="section">
        <a href="/gtk-rs-core"></a>
      </td>
      <td>
        <a href="https://crates.io/crates/gio">
          gio
        </a>
      </td>
      <td>
        v0.9.0
      </td>
      <td class="docs">
        <a href="/gtk-rs-core/stable/latest/docs/gio">🕮</a>
      </td>
    </tr>

    <tr>
      <td class="section">
        <a href="/gtk-rs-core"></a>
      </td>
      <td>
        <a href="https://crates.io/crates/glib">
          glib
        </a>
      </td>
      <td>
        v0.10.0
      </td>
      <td class="docs">
        <a href="/gtk-rs-core/stable/latest/docs/glib">🕮</a>
      </td>
    </tr>

    <tr>
      <td class="section">
        <a href="/gtk-rs-core"></a>
      </td>
      <td>
        <a href="https://crates.io/crates/pango">
          pango
        </a>
      </td>
      <td>
        v0.9.0
      </td>
      <td class="docs">
        <a href="/gtk-rs-core/stable/latest/docs/pango">🕮</a>
      </td>
    </tr>

    <tr>
      <td class="section">
        <a href="/gtk3-rs">GTK 3</a>
      </td>
      <td>
        <a href="https://crates.io/crates/gtk">
          gtk
        </a>
      </td>
      <td>
        v0.9.0
      </td>
      <td class="docs">
        <a href="/docs/gtk/">🕮</a>
      </td>
    </tr>
  </tbody>
</table>
