@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('/font/slick.woff') format('woff');
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

strong {
    font-weight: bold;
}

div.footnotes {
    font-size: $base-font-size * 0.8;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: var(--spacing-unit-half);
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: var(--spacing-unit);
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


table {
    margin: 1em auto;
    border-collapse: collapse;

    td, th {
        border: none;
        padding: 0.3em 0.7em;
    }

    th {
        border-bottom: 1px solid $text-color;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: $headings-font-family;
    color: $headings-color;
}

h1, h2 {
    margin-bottom: 0.4em;
}

h1 {
    font-size: 34px;
    text-align: center;
    margin-top: 0.4em;
}

h2 {
    font-size: 26px;
    margin-top: 1.7em;
}

h3, h4 {
    margin-top: 1em;
}

/**
 * Links
 */
.page-content a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

a.badge {
    text-decoration: none;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: var(--spacing-unit-half);
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre {
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: $box-background;
    color: white;

    margin: 1em;
    padding: 1em;
    overflow-x: auto;

    pre, code {
        background: none;
        border: none;
        padding: 0;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
    }
}

code {
    font-weight: bold;
    color: darken($text-color, 20%);
    font-size: 0.85em;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: var(--content-width);
    margin: auto;
    padding: 0 var(--spacing-unit);
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path, rect {
            fill: $grey-color;
        }

        circle.inverse, path.inverse {
            fill: #ffffff;
        }
    }
}

.icon-crate {
    > svg {
        width: 112px;
        height: 20px;
        font-weight: normal;
    }
}

/* featured apps slider */
.featured-apps {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    position: relative;

    > button {
        height: 100%;
        width: 38px;
        font-size: 40px;
        color: #3d3846;
        opacity: 0.4;
        transition: opacity 0.3s;
        position: absolute;
        top: 0;
        z-index: 1;
        font-family: 'slick';
        line-height: 1;
        cursor: pointer;
        padding: 0;
        background: transparent;
        border: 0;

        &:hover {
            opacity: 1;
        }
        &::before {
            top: 45%;
            position: absolute;
            left: 0;
        }
    }

    .slide-prev {
        left: 0;
    }
    .slide-prev::before {
        content: '←';
    }
    .slide-next {
        right: 0;
    }
    .slide-next::before {
        content: '→';
    }

    .transition {
        transition: transform 1s ease;
    }

    > .slide-wrapper {
        width: 752px;
        max-width: 100%;
        margin: auto;
        height: 100%;
        position: relative;

        > a {
            width: 100%;
            height: 100%;
            display: inline-block;
            list-style: none;
            text-decoration: none;
            color: #3d3846;
            text-align: center;

            &:hover {
                opacity: 0.8;
                transition: opacity 0.3s;
                color: #3d3846;
            }

            * {
                pointer-events: none;
                -khtml-user-select: none;
                -o-user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
            }

            figure > figcaption {
                font-family: Cantarell, Helvetica, Arial, sans-serif;
                font-size: 17px;

                > strong {
                    color: #813d9c;
                }
            }
        }
    }
}
