/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

strong {
    font-weight: bold;
}

div.footnotes {
    font-size: $base-font-size * 0.8;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: var(--spacing-unit-half);
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: var(--spacing-unit);
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


table {
    margin: 1em auto;
    border-collapse: collapse;

    td, th {
        border: none;
        padding: 0.3em 0.7em;
    }

    .section {
        font-weight: bold;
        text-align: right;
    }

    th {
        border-bottom: 1px solid $text-color;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: $headings-font-family;
    color: $headings-color;
}

h1, h2 {
    margin-bottom: 0.4em;
}

h1 {
    font-size: 34px;
    text-align: center;
    margin-top: 0.4em;
}

h2 {
    font-size: 26px;
    margin-top: 1.2em;
}

h3, h4 {
    margin-top: 1em;
}

/**
 * Links
 */
.page-content a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

a.badge {
    text-decoration: none;
}

td.docs {
    text-align: center;

    a:hover {
        text-decoration: none;
        transform: scale(1.3);
        transition-property: transform;
        transition: 0.2s;
        display: inline-block;
    }
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: var(--spacing-unit-half);
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre {
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: $box-background;
    color: white;

    margin: 1em;
    padding: 1em;
    overflow-x: auto;

    pre, code {
        background: none;
        border: none;
        padding: 0;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
    }
}

code {
    font-weight: bold;
    color: darken($text-color, 20%);
    font-size: 0.85em;
}

/**
 * Wrapper
 */
.wrapper {
    --padding: calc(50vw - (var(--content-width) / 2) + var(--spacing-unit-half));
    padding-left: max(var(--padding), var(--spacing-unit-half));
    padding-right: max(var(--padding), var(--spacing-unit-half));
}

section {
    padding-top: 0.1rem;
    padding-bottom: 2rem;
    @extend .wrapper;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path, rect {
            fill: $grey-color;
        }

        circle.inverse, path.inverse {
            fill: #ffffff;
        }
    }
}

.icon-crate {
    > svg {
        width: 112px;
        height: 20px;
        font-weight: normal;
    }
}
