/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;

    // Positioning context for the mobile navigation icon
    position: relative;
    background-color: $elem-background;
}

.site-title {
    font-size: 26px;
    line-height: $header-line-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

#support-button {
    position: absolute;
    right: 6px;
    top: 11px;
    border-radius: 7px;
    background-color: #fff;
    padding: 4px;
    text-decoration: none;
    width: initial;
    color: #000;
    cursor: pointer;
    border: 1px solid #ddd;

    &:hover {
        background-color: #e3ffff;
    }

    > svg {
        fill: #ff0b9e;
        vertical-align: middle;
        font-size: 12px;
        line-height: 20px;
    }
}

@include media-query($title-on-palm) {
    #support-button {
        right: 85px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($title-on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        z-index: 1; // to go over the "support us" button

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding-top: 12px;
    background-color: $elem-background;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.intro-col-wrapper {
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.intro-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.intro-col-1 {
    width: calc(60% - (#{$spacing-unit} / 2));
}

.intro-col-2 {
    width: calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .intro-col {
        float: none;
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: calc(100% - (#{$spacing-unit} / 2));
    }

    .page-content {
        /* 88px is the footer size */
        min-height: calc(100vh - #{$header-line-height} - #{$header-borders} - (#{$content-padding} * 2) - 88px);
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: calc(100% - (#{$spacing-unit} / 2));
    }

    .page-content {
        /* 126px is the footer size */
        min-height: calc(100vh - #{$header-line-height} - #{$header-borders} - (#{$content-padding} * 2) - 126px);
    }
}



/**
 * Page content
 */
.page-content {
    padding: $content-padding 0;
    /* 51px is the footer size */
    min-height: calc(100vh - #{$header-line-height} - #{$header-borders} - (#{$content-padding} * 2) - 51px);
}

@include media-query($on-laptop) {
    .page-content {
        /* 88px is the footer size */
        min-height: calc(100vh - #{$header-line-height} - #{$header-borders} - (#{$content-padding} * 2) - 88px);
    }
}

@include media-query($on-palm) {
    .page-content {
        /* 126px is the footer size */
        min-height: calc(100vh - #{$header-line-height} - #{$header-borders} - (#{$content-padding} * 2) - 126px);
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.blog {
    background-color: #F7F5D7;
    border-radius: 5px;
    padding: 7px;
}

.crates {
    background-color: #E6F5F9;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 7px;
}
