/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
    background: linear-gradient(120deg, $header-color-1, $header-color-2, lighten($header-color-1, 2%), $header-color-1);
    font-family: $headings-font-family;
}

.site-title {
    font-size: 40px;
    font-weight: 800;

    margin: 2.5rem 1.5rem;
    display: inline-block;

    @include media-query($on-mobile) {
        margin: 2.5rem 0.5rem;
    }

    padding-left: 1rem;

    transition: 0.2s;
    transition-property: transform, opacity;

    &::before {
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        height: 110px;
        width: 110px;
        background-image: url('/logo/gtk-rs.svg');
        content: '';
        vertical-align: middle;
        margin-right: 1.6rem;
    }

    &:hover {
        opacity: 0.9;
    }

    &:active {
        transform: scale(1.05);
    }
}

.site-header a {
    color: $header-text-color;
    text-decoration: none;
}

.site-nav {
    float: right;

    ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        margin: 0;
        margin-right: 1.5rem;

        li {
            list-style: none;
            display: inline-block;

            a {
                color: $header-text-color;
                line-height: 3em;
                margin: 0 1rem;
                font-weight: bold;
                transition: color 0.3s;
                border-radius: 7px;

                &:hover {
                    color: white;
                }
            }
        }
    }

    @include media-query($on-mobile) {
        float: none;
        margin-bottom: -1rem;

        ul {
            justify-content: center;
            margin-right: 0;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    margin-top: 1em;
    background: $box-background;
    color: white;
    font-family: $headings-font-family;
    font-weight: bold;
    font-size: 0.95em;

    .wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        ul {
            margin: 0.7rem 0;
        }

        a {
            color: white;

            &:hover {
                color: #CCC;
            }
        }


        & > a {
            font-size: 0.8em;
            display: inline-block;
            text-decoration: none;
            margin: 0.9rem 0;

            img {
                width: auto;
                height: 5rem;
                display: block;
                padding-top: 0.3em;
                transition: opacity 0.3s;
            }

            &:hover img {
                opacity: 0.8;
            }
        }
    }
}

ul.contact {

    li {
        list-style: none;
    }


    a {
        line-height: 2.2em;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;

        svg {
            width: 1.2em;
            padding-bottom: 3px;
            margin-right: 0.6em;
            vertical-align: middle;
            path {
                fill: currentcolor;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }
}

/**
 * Page content
 */

.special {
    background: #deddda;
    margin-left: calc(-50vw + (100% / 2));
    margin-right: calc(-50vw + (100% / 2));

    margin-top: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 3.5rem;

    > * {
        max-width: var(--content-width);
        margin-left: auto;
        margin-right: auto;
        padding-left: calc(var(--spacing-unit) + 7px);
        padding-right: calc(var(--spacing-unit) + 7px);
    }

    h2:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.page-content {
    padding: $content-padding 0;
    min-height: calc(100vh - 400px);
}

.post-list {
    margin: 2em 0;
    list-style: none;

    > li {
        margin: 0;
        padding: 1em 0;

        & > a {
            margin-bottom: var(--spacing-unit);
            background: linear-gradient(180deg, darken($background-color, 4%), $background-color);
            margin: 0;
            padding: 1.5em 2em;
            display: block;
            border-radius: 7px 7px 0 0;
            color: $text-color;

            h2 {
                margin: 0;
                margin-bottom: 0.2em;
                font-size: 20px;
                color: $brand-color;
            }

            .post-meta {
                display: block;
                text-align: left;
                padding: 0.2rem 0 0.6rem;
            }

            &:hover {
                text-decoration: none;
                background: linear-gradient(180deg, darken($background-color, 5%), darken($background-color, 1%));

                h2 {
                    text-decoration: underline;
                }

            }

            & > *:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}

.post header nav {
    ul {
        justify-content: space-between;
        display: flex;
        margin: 1.5em 0 1em;
        padding: 0;

        li {
            display: inline-block;
            min-width: 60px;

            .blog-title {
                line-height: 47px;
            }

            a {
                padding: 15px;
                margin: 0;
                line-height: 50px;
                font-family: Cantarell, sans-serif;
                font-weight: bold;
                font-size: 1.2em;
                color: $text-color;
                opacity: 0.6;
                transition: opacity 0.3s;
                position: relative;

                span {
                    @include media-query($on-mobile) {
                        display: none;
                    }
                    display: inline-block;

                    max-width: 0;
                    transition: max-width 0.2s;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    font-family: $headings-font-family;
                    font-size: $small-font-size;
                    background-color: $background-color;

                    position: absolute;
                    z-index: 1;
                    --margin: 50px;
                    left: var(--margin);
                    margin-top: -1px;
                }

                span.right {
                    right: var(--margin);
                    left: initial;
                }

                &.arrow::after {
                    position: relative;
                    z-index: 2;
                    display: inline-block;
                    content: '→';
                    font-weight: bold;
                    font-family: slick;
                    font-size: 34px;
                }

                &.arrow.left::after {
                    content: '←';
                }

                &:hover{
                    text-decoration: none;
                    opacity: 1;

                    span {
                        color: $text-color;
                        max-width: 210px;
                        padding: 0 5px;
                    }

                }
            }
        }
    }
}

.box-list {
    text-align: center;
    padding: 0.7rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 0 0.7em;
    padding-top: 0;

    li {
        display: flex;
        align-items: stretch;
        flex-basis: 13.5em;

        a, a:visited {
            @extend .box-design;
            width: 100%;
            margin: 10px;
            vertical-align: top;
            padding: 1em 0.6em 1.2em;

            font-weight: bold;
            font-family: $headings-font-family;

            font-size: $small-font-size;

            strong, .post-meta {
                color: $header-text-color;
                font-size: $base-font-size;
                display: block;
                margin-bottom: 0.6em;
            }

        }
    }

}

.box-list.post-overview {
    margin-top: 1.2em;

    li {
        flex-basis: 210px;
    }

    a {
        font-size: $base-font-size;
        width: 100%;
    }

    .post-meta {
        font-size: $small-font-size;
    }


}

.post-meta {
    font-size: $small-font-size;
    font-family: $headings-font-family;
    font-weight: bold;
    text-align: center;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: var(--spacing-unit);
}

/**
 * Special
 */

.box-design {
    transition: opacity 0.5s;
    background: $box-background;
    border-radius: 7px;
    color: white;
    display: inline-block;

    &:hover {
        text-decoration: none;
        opacity: 0.9;
        color: white;
        transition: opacity 0.2s;
    }
}

.centered h2 {
    text-align: center;
    padding-bottom: 0.1em;
}

p.center {
    margin: 0 1em;
    text-align: center;

    @include media-query($on-mobile) {
        margin: 0 0.4em;
    }
}

.badgets {
    text-align: center;
    margin: 0;
    img {
        border-radius: 5px;
    }
}

.with-logo {
    svg {
        float: left;
        margin: 0 1em 0.5em 0;
        height: 120px;
        width: 120px;

        path {
            fill: $text-color;
        }
    }
}

ul.sponsors {
    text-align: center;
    margin: 0;

    li {
        display: inline-block;
        margin: 1em;
        font-family: $headings-font-family;

        a {
            @extend .box-design;
            max-width: 10em;
            text-align: center;
            text-decoration: none;
            vertical-align: top;
            min-height: 8em;
            font-weight: bold;

            > div {
                padding: 1em;
                display: block;
            }

            > img {
                border-radius: 50%;
                width: 5em;
                margin: 1em auto 0;
                border: 3px solid white;
            }

            .metal {
                border-radius: inherit;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            .gold {
                background: linear-gradient(0deg, #cb7401, #ecd56f);
                color: darken(#cb7401, 20%);
            }

            .silver {
                background: linear-gradient(0deg, #c4c4c4, #f7f7f7);
                color: darken(#b37a4f, 20%);
            }

            .bronze {
                background: linear-gradient(0deg, #b37a4f, #f5caa7);
                color: darken(#b37a4f, 20%);
            }
        }
    }
}

ul.projects-overview {
    padding-top: 0.5em;
    margin-left: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
        list-style: none;
        display: inline-block;
    }


    a, a:visited {
        @extend .box-design;
        font-family: $headings-font-family;
        font-weight: bold;

        padding: 0 1em;
        margin: 0.15em 0.3em;
        line-height: 3em;
        vertical-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

table.crates {
    .section {
        font-weight: bold;
        text-align: right;
    }

    td.docs {
        text-align: center;

        svg {
            height: 0.85em;
            width: auto;

            path {
                fill: currentcolor;
            }
        }

        a {
            display: inline-block;
        }

        a:hover {
            transform: scale(1.3);
            transition: transform 0.2s;
        }

    }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

details {
    text-align: center;
    margin-top: 2.5em;

    &:not([open]) summary {
        @extend .box-design;
    }

    &:not([open]) > :not(summary) {
        opacity: 0;
    }

    &[open] > :not(summary) {
        opacity: 1;
        animation-name: fade-in;
        animation-duration: 0.6s;
    }

    &[open] summary::before {
        /* ▼ */
        content: '\25BC\FE0E';
        font-size: 1.2em;
    }

    summary {
        line-height: 1.6em;
        display: inline-block;
        text-align: center;
        scolor: $brand-color;
        cursor: pointer;
        font-weight: bold;
        font-family: $headings-font-family;
        padding: 1em 1.6em;
        margin-bottom: 0.5em;

        &::before {
            font-size: 0.9em;
            /* ▶︎ */
            content: '\25B6\FE0E';
            margin-right: 0.6rem;
            vertical-align: top;
        }

        &::-webkit-details-marker {
            display: none;
        }
    }
}

