// Our variables
$base-font-family:   Roboto, sans-serif;
$base-font-size:     18px;
$small-font-size:    16px;
$base-line-height:   1.3;

$headings-font-family:  Cantarell, sans-serif;
$headings-color:        #3d3846;

$text-color:         #3d3846;
$background-color:   #f6f5f4;
$brand-color:        #813d9c;

$grey-color:         #828282;
$grey-color-light:   lighten($grey-color, 40%);

$header-borders:     6px;
$header-line-height: 56px;
$content-padding:    10px;

$header-color-1:    #241f31;
$header-color-2:    #3d3846;
$header-text-color: #dc8add;

$box-background:    linear-gradient(150deg, #241f31, #3d3846);

$on-mobile: 600px;

body {
    --content-width: 670px;
    --spacing-unit: 26px;
    --spacing-unit-half: calc(var(--spacing-unit) / 2);
}

@font-face {
    font-family: Roboto;
    src: url("/font/Roboto.woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url("/font/Roboto-Bold.woff2");
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: bold;
    src: url("/font/Roboto-Mono-Medium.woff2");
}

@font-face {
    font-family: Cantarell;
    font-weight: bold;
    src: url("/font/Cantarell-Bold.woff");
}

@font-face {
    font-family: Cantarell;
    font-weight: 800;
    src: url("/font/Cantarell-ExtraBold.woff");
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: var(--spacing-unit-half);
//         padding-left: var(--spacing-unit-half);
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
