<!DOCTYPE html>
<html>

  {% include layout_head.html %}

  <body {% if page.centered %}class="centered"{% endif %}>

    {% include layout_header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include layout_footer.html %}

    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/load-carousel.js"></script>
  </body>

</html>
